.btn-primary {
  @extend .flex-center;
  background-color: $cool-2;
  @include fz(16);
  border-radius: 3px;
  color: $level-0;
  width: 80px;
  height: 40px;
  cursor: pointer;
  &:disabled {
    background-color: $level-5;
    cursor: not-allowed;
  }
}
.btn-line {
  @extend .flex-center;
  border: 1px solid $cool-2;
  @include fz(16);
  border-radius: 3px;
  color: $cool-2;
  @include pd-y(16);
  @include pd-x(8);
  cursor: pointer;
}
.btn-line-5 {
  @extend .flex-center;
  border: 1px solid $level-5;
  @include fz(16);
  border-radius: 3px;
  color: $level-8;
  @include pd-y(16);
  @include pd-x(8);
  cursor: pointer;
}
.btn-see-more {
  cursor: pointer;
  @include fz(16);
  color: $cool-2;
}
.btn-fb {
  @extend .flex-center;
  width: 336px;
  height: 50px;
  background: #4267b2;
  border-radius: 3px;
  color: $level-0;
  @include fz(16);
  position: relative;
  cursor: pointer;
  &::before {
    content: "";
    background-image: url('~/assets/images/icon/facebook.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 32px;
  }
}
.btn-google {
  @extend .flex-center;
  width: 336px;
  height: 50px;
  background: $level-0;
  border: 1px solid $level-3;
  border-radius: 3px;
  color: $level-6;
  @include fz(16);
  position: relative;
  cursor: pointer;
  &::before {
    content: "";
    background-image: url('~/assets/images/icon/google.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 32px;
  }
}
