%card-base {
  border-radius: 2px;
  border: 1px solid $level-2;
  background-color: $level-0;
  cursor: pointer;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}
.card {
  @extend %card-base;
  width: 240px;
  &:hover {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.16);
    .card-thumbnail {
      &::before {
        content: "";
        position: absolute;
        left: -1px;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        height: 32px;
        background-image: url("~/assets/images/icon/hv-left.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &::after {
        content: "";
        position: absolute;
        right: -1px;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        height: 32px;
        background-image: url("~/assets/images/icon/hv-right.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .card-txt-hover {
      color: $cool-2;
    }
  }
  &-thumbnail {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 240px;
    height: 124px;
    border-radius: 2px;
    position: relative;
  }
  &-content {
    padding: 8px 8px 58px 8px;
    border-radius: 2px;
  }
  &-bot {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 14px;
    @include pd-y(8);
    box-sizing: border-box;
  }
  &-rate-txt {
    @include fz(12);
    color: $warm-2;
    font-weight: $medium;
    line-height: 1;
    &-count {
      @include fz(12);
      color: $level-6;
      line-height: 1;
      font-weight: $medium;
    }
  }
}
.card-sell {
  @extend %card-base;
  width: 310px;
  &:hover {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.16);
    .card-txt-hover {
      color: $cool-2;
    }
  }
  &-lb {
    margin-left: -4px;
    margin-right: -4px;
    &-item {
      @include pd-y(4);
    }
  }
  .card-content {
    padding-bottom: 96px;
  }
  .card-thumbnail {
    width: 310px;
  }
}
.category {
  @include pd-x(8);
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  @include flex();
  @include align-items(center);
  @include flex-direction(column);
  &-thumbnail {
    width: 179px;
    height: 153px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
