.form-search {
  &-con {
    background-color: $level-2;
    border-radius: 3px;
    padding-left: 11px;
    width: 100%;
  }
  &-des {
    padding-right: 26px;
    height: 20px;
    border-right: 1px solid $level-4;
    &::after {
      content: "";
    }
  }
  &-txt {
    position: relative;
    &::after {
      content: "";
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("~/assets/images/icon/chevron-down.png");
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      right: -14px;
    }
  }
  &-ip {
    width: 100%;
    height: 20px;
    @include pd-y(10);
    border: 0;
    background-color: $level-2;
    &::placeholder {
      @include fz(14);
      color: $level-5;
    }
    &:focus {
      outline: none;
    }
  }
}
.input-normal {
  border: 1px solid #ebecf0;
  border-radius: 2px;
  padding: 8px 12px;
  @include fz(16);
  color: $level-8;
  width: 100%;
  box-sizing: border-box;
  &::placeholder {
    color: $level-4;
  }
}
.textarea-normal {
  border: 1px solid #ebecf0;
  border-radius: 2px;
  padding: 8px 12px;
  @include fz(16);
  color: $level-8;
  width: 100%;
  min-height: 156px;
  box-sizing: border-box;
  resize: none;
  &::placeholder {
    color: $level-4;
  }
}
.input-pass {
  width: 100%;
  padding: 8px 38px 8px 12px;
  @include fz(16);
  color: $level-8;
  box-sizing: border-box;
  border: 1px solid #ebecf0;
  border-radius: 2px;
  &::placeholder {
    color: $level-4;
  }
  &-ic {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
  }
}
.form-login {
  padding-bottom: 16px;
  border-bottom: 1px solid #EBECF0;
  margin-bottom: 16px;
  button {
    width: 100%;
  }
}
