%base-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-thumbnail {
  @extend %base-img;
  height: 264px;
  width: $max-width;
}
.avatar {
  @extend %base-img;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.break-line {
  @extend %base-img;
  background-image: url("~/assets/images/line-banner.jpeg");
  width: $max-width;
  height: 264px;
  &-contain {
    padding-top: 24px;
    padding-bottom: 56px;
  }
}
