.row-32-40 {
  @include m-x(-16);
  @include m-y(-20);
}
.col-32-40 {
  @include pd-x(16);
  @include pd-y(20);
}
.row-des {
  @include flex();
}
.col-left {
  min-width: 716px;
  max-width: 716px;
  width: 100%;
}
.col-right {
  width: 100%;
  padding-left: 56px;
}
.row-pro {
  @include flex();
}
.col-pro {
  &-left {
    width: 437px;
    min-width: 437px;
  }
  &-right {
    padding-left: 111px;
    width: 100%;
  }
}