$mn-h: 72px;
.mn-container {
  position: fixed;
  top: 0;
  left: 0;
  height: $mn-h;
  background-color: $level-1;
  width: 100%;
  z-index: 100;
}
.mn-nav {
  padding-left: 25px;
}
.mn-li {
  @include pd-y(15);
  height: $mn-h;
}
.mn-checked {
  @include fz(16);
  font-weight: $medium;
  color: $cool-2;
}
.mn-link {
  @include fz(16);
  font-weight: $medium;
  display: block;
  color: $level-8;
}
.mn-mock {
  height: $mn-h;
  width: 100%;
}
.mn-icon {
  width: 24px;
  height: 24px;
}
.mn-avatar {
  width: 32px;
  height: 32px;
}
.mn-sub-nav {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  &-item {
    height: 40px;
    position: relative;
    color: $level-5;
    white-space: nowrap;
    @include fz(14);
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
  .sub-nav-active {
    color: $level-8;
    &::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: $cool-2;
    }
  }
}
.mn-step {
  &-item {
    height: $mn-h;
    padding-right: 28px;
    position: relative;
    &:not(:last-child) {
      margin-right: 16px;
    }
    &::after {
      content: "";
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("~/assets/images/icon/mn-step-chevron.png");
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      right: 0;
      top: 50%;
    }
  }
  &-icon {
    width: 32px;
    height: 32px;
    background-color: $level-4;
    border-radius: 50%;
    @include flex();
    @include justify-content(center);
    @include align-items(center);
  }
  &-count {
    color: $level-0;
    @include fz(16);
    font-weight: $medium;
  }
  .stepActive {
    .mn-step-icon {
      background-color: $cool-2;
    }
    .text-16-5 {
      color: $cool-2;
    }
  }
  .stepComplete {
    .mn-step-icon {
      background-color: $cool-2;
      overflow: hidden;
      position: relative;
      .mn-step-count {
        display: none;
      }
      &::after {
        content: "";

        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 5px;
        height: 9px;
        border: 2px solid $level-0;
        border-top: 0;
        border-left: 0;
        left: 12px;
        top: 10px;
        position: absolute;
      }
    }
    .text-16-5 {
      color: $level-8;
    }
  }
}
.mn-create-sv {
  .mn-step-item:not(:last-child) {
    margin-right: 7.5px;
  }
}