$mn-h: 72px;
.mn-container {
  position: fixed;
  top: 0;
  left: 0;
  height: $mn-h;
  background-color: $level-1;
  width: 100%;
  z-index: 10;
}
.mn-nav {
  padding-left: 25px;
}
.mn-li {
  @include pd-y(15);
  height: $mn-h;
}
.mn-checked {
  @include fz(16);
  font-weight: $medium;
  color: $cool-2;
}
.mn-link {
  @include fz(16);
  font-weight: $medium;
  display: block;
  color: $level-8;
}
.mn-mock {
  height: $mn-h;
  width: 100%;
}
.mn-icon {
  width: 24px;
  height: 24px;
}
.mn-avatar {
  width: 32px;
  height: 32px;
}
.mn-sub-nav {
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  &-item {
    height: 40px;
    position: relative;
    color: $level-5;
    white-space: nowrap;
    @include fz(14);
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
  .sub-nav-active {
    color: $level-8;
    &::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: $cool-2;
    }
  }
}