.font-regular {
  font-weight: $regular;
}
.font-medium {
  font-weight: $medium;
}
.font-bold {
  font-weight: $bold;
}
.font-italic {
  font-style: italic;
}
.title {
  font-weight: 500;
  line-height: 37px;
  @include fz(32);
  color: $level-8;
}
.link-normal {
  @include fz(16);
  color: $cool-2;
}
.txt-el-user {
  &-name {
    @include fz(12);
    color: $level-7;
    line-height: 14px;
  }
  &-note {
    @include fz(10);
    color: $cool-1;
    line-height: 12px;
  }
}
.text-12 {
  &-5 {
    @include fz(12);
    color: $level-5;
  }
  &-6 {
    @include fz(12);
    color: $level-6;
  }
  &-c2 {
    @include fz(12);
    color: $cool-2;
  }
}
.text-14 {
  &-n {
    @include fz(14);
    color: $level-n;
  }
  &-8 {
    @include fz(14);
    color: $level-8;
  }
  &-8-m {
    @include fz(14);
    color: $level-8;
    font-weight: $medium;
  }
  &-7 {
    @include fz(14);
    color: $level-7;
  }
  &-6 {
    @include fz(14);
    color: $level-6;
  }
  &-5 {
    @include fz(14);
    color: $level-5;
  }
  &-c2 {
    @include fz(14);
    color: $cool-2;
  }
  &-w1 {
    @include fz(14);
    color: $warm-1;
  }
}

.text-16 {
  &-w1 {
    @include fz(16);
    color: $warm-1;
  }
  &-w2 {
    @include fz(16);
    color: $warm-2;
  }
  &-5 {
    @include fz(16);
    color: $level-5;
  }
  &-5-m {
    @include fz(16);
    color: $level-5;
    font-weight: $medium;
  }
  &-6 {
    @include fz(16);
    color: $level-6;
  }
  &-6-m {
    @include fz(16);
    color: $level-6;
    font-weight: $medium;
  }
  &-c2 {
    @include fz(16);
    color: $cool-2;
  }
  &-7 {
    @include fz(16);
    color: $level-7;
  }
  &-7-m {
    @include fz(16);
    color: $level-7;
    font-weight: $medium;
  }
  &-8 {
    @include fz(16);
    color: $level-8;
  }
  &-8-m {
    @include fz(16);
    color: $level-8;
    font-weight: $medium;
  }
}
.text-20 {
  &-n-m {
    @include fz(20);
    color: $level-n;
    font-weight: $medium;
  }
  &-8-m {
    @include fz(20);
    color: $level-8;
    font-weight: $medium;
  }
}
.text-24 {
  &-8-m {
    @include fz(24);
    color: $level-8;
    font-weight: $medium;
  }
}
.text-32 {
  &-8 {
    color: $level-8;
    @include fz(32);
  }
}
.nowrap {
  white-space: nowrap;
}
.text-32 {
  &-8-m {
    @include fz(32);
    color: $level-8;
    font-weight: $medium;
  }
  &-8-b {
    @include fz(32);
    color: $level-8;
    font-weight: $bold;
  }
}
.text-des {
  p {
    min-height: 14px;
  }
}
.text-center {
  text-align: center;
}
.tt-status {
  &-online {
    @include fz(14);
    color: $cool-1;
    padding-left: 17px;
    position: relative;
    cursor: pointer;
    user-select: none;
    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $cool-1;
      left: 0;
      top: 50%;
      transform: translateX(-50%);
    }
  }
}
.line-h-1 {
  line-height: 1;
}