.font-medium {
  font-weight: $medium;
}
.font-bold {
  font-weight: $bold;
}
.title {
  font-weight: 500;
  line-height: 37px;
  @include fz(32);
  color: $level-8;
}
.link-normal {
  @include fz(16);
  color: $cool-2;
}
.txt-el-user {
  &-name {
    @include fz(12);
    color: $level-7;
    line-height: 14px;
  }
  &-note {
    @include fz(10);
    color: $cool-1;
    line-height: 12px;
  }
}
.txt-14-7 {
  @include fz(14);
  color: $level-7;
}
.text-16-w2 {
  @include fz(16);
  color: $warm-2;
}