// Extra small screen / phone
$xs: 0; //from
$sm: 768px; //to
// Medium screen / tablet
$smd: 769px; //from to
$md: 1023px;
// Large screen / desktop
$slg: 1023px;
$lg: 1024px;//from to
// iphone 5
$ip5: 320px;

$max-width: 803px;
$max-width-big: 1076px;

// color
$warm-1: "#FF375F";
$warm-2: "#FF9F0A";
$cool-1: "#4AD295";
$cool-2: "#666FF6";
$cool-5: "#C09DFF";
$cool-6: "#F0F1FE";
$level-0: "#ffffff";
$level-1: "#FAFAFA";
$level-2: "#F4F4F4";
$level-3: "#EBECF0";
$level-4: "#D8D7DA";
$level-5: "#B1AFB4";
$level-6: "#89878F";
$level-7: "#625F69";
$level-8: "#3B3744";
$level-n: "#000000";



