// Extra small screen / phone
$xs: 0; //from
$sm: 768px; //to
// Medium screen / tablet
$smd: 769px; //from to
$md: 1023px;
// Large screen / desktop
$slg: 1023px;
$lg: 1024px;//from to
// iphone 5
$ip5: 320px;

$max-width: 803px;
$max-width-big: 1076px;